body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p,a,ul,li{
    margin: 0;
    padding: 0;
}
#logo-menu{
    background:black;
    padding: 30px;
    overflow: hidden;
}
.content{
    width: 1170px;
    margin: 0 auto;
}
.logo{
    float: left;
    width: 20%;
}
.logo img{
    width: 50%;
    height: 50%;
}
.menu{
    float: left;
    width: 80%;
    margin-top: 15px;
}
.menu ul li{
    list-style: none;
    float: left;
    width: 25%;
    /* background: blue; */
}
.menu ul li a{
    text-decoration: none;
    color: white;
    float: left;
    padding-right: 15px;
    font-size: 18px;
}
.menu ul li a:first-child{
    font-weight: bolder;
}

#banner{
    overflow: hidden;
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center center;
    height: 600px;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.banner-content{
    text-align: center;
    padding: 170px 0px;
    color: white;
}
.banner-content h1{
    font-size: 44px;
}
.banner-content h3{
    font-size: 32px;
    color: gray;
    margin-bottom: 20px;
}
.green-button{
    padding: 25px 20px;
    width: 10%;
    background: greenyellow;
    margin-left: 520px;
    border-radius: 8px;
}
.green-button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}